$main-color: #3B4674;
$dark-color: #333333;
$light-color: #F5F5F5;


$bold: 'Roboto-Bold';
$italic: 'Roboto-Italic';
$medium: 'Roboto-Medium';
$mediumItalic: 'Roboto-MediumItalic';
$regular: 'Roboto-Regular';