.header {
    height: 80px;
    background: linear-gradient(to bottom, #00000092, #00000000), $main-color;
    @include xxs{
        height: 72px;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        margin-top: 2%;
        margin-right: 10%;
        z-index: 10;
        @include sm{
            margin-right: 5%;
        }
        @include xs{
            display: none;
        }
        .menu-list{
            display: flex;
            column-gap: 20px;
            .menu-item {
                animation: 1s anim-lineUp ease-out;
                -webkit-animation: 1s anim-lineUp ease-out;
                a{
                    cursor: pointer;
                    color: $light-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 130%;
                }
            }
        }
        
    }
    &__logo{
        margin-top: 2%;
        margin-left: 10%;
        animation: 0.5s anim-lineUp ease-out;
        -webkit-animation: 0.5s anim-lineUp ease-out;
        @include sm{
            margin-left: 2%;
        }
        @include xxs{
            margin-top: 5%;
        }
    }
    &__burger-icon {
        margin-right: 2%;
        width: auto;
        height: auto;
        font-size: 24px;
        font-weight: normal;
        line-height: normal;
        text-transform: none;
        //border: none;
        border-radius: 0;
        color: $light-color;
        //background-color: transparent;
        cursor: pointer;
        position: relative;
        animation: none;
        display: none;
        padding: 0;
        z-index: 0;
        transition: none;
        will-change: none;
        animation: 0.5s anim-lineUp ease-out;
        -webkit-animation: 0.5s anim-lineUp ease-out;
        button{
            color: $light-color;
        }
        @include xs{
            display: block;
        }
        ::after {
            display: none;
        }
        :hover::after {
            display: none;
        }
        :hover {
            border: none;
            color: $main-color;
            transform: none;
            will-change: none;
        }
    }
}
@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}